.Rproj.user
.Rhistory
.RData
.Ruserdata
data/DSII.XPT
data/DSBI.XPT
data/DSPI.XPT
data/P_ACQ.XPT
data/P_ALB_CR.XPT
data/P_AUQ.XPT
data/P_AUX(1).XPT
data/P_AUX.XPT
data/P_AUXAR(1).XPT
data/P_AUXAR.XPT
data/P_AUXTYM(1).XPT
data/P_AUXWBR(1).XPT
data/P_AUXWBR.XPT
data/P_BMX(1).XPT
data/P_BPQ.XPT
data/P_BPXO(1).XPT
data/P_BPXO.XPT
data/P_CBC.XPT
data/P_CBQPFA.XPT
data/P_CBQPFC.XPT
data/P_CDQ.XPT
data/P_CMV.XPT
data/P_COT.XPT
data/P_CRCO.XPT
data/P_DBQ.XPT
data/P_DEQ.XPT
data/P_DR1IFF.XPT
data/P_DR1TOT.XPT
data/P_DR2IFF.XPT
data/P_DRXFCD.XPT
data/P_DS1IDS.XPT
data/P_DS1TOT.XPT
data/P_DS2IDS.XPT
data/P_DS2TOT.XPT
data/P_DSQIDS.XPT
data/P_DSQTOT.XPT
data/P_DXXFEM(1).XPT
data/P_DXXFEM.XPT
data/P_DXXSPN(1).XPT
data/P_DXXSPN.XPT
data/P_ECQ.XPT
data/P_ETHOX.XPT
data/P_FASTQX.XPT
data/P_FERTIN.XPT
data/P_FETIB.XPT
data/P_FOLATE.XPT
data/P_FOLFMS.XPT
data/P_FR.XPT
data/P_FSQ.XPT
data/P_GLU.XPT
data/P_HDL.XPT
data/P_HEPA.XPT
data/P_HEPE.XPT
data/P_HEQ.XPT
data/P_HSCRP.XPT
data/P_HSQ.XPT
data/P_IHGEM.XPT
data/P_INQ.XPT
data/P_INS.XPT
data/P_KIQ_U.XPT
data/P_LUX(1).XPT
data/P_OCQ.XPT
data/P_OHQ.XPT
data/P_OHXDEN(1).XPT
data/P_OHXDEN.XPT
data/P_OHXREF(1).XPT
data/P_OHXREF.XPT
data/P_OSQ.XPT
data/P_PAQ.XPT
data/P_PAQY.XPT
data/P_PBCD.XPT
data/P_PERNT.XPT
data/P_PUQMEC.XPT
data/P_RHQ.XPT
data/P_RXQ_RX.XPT
data/P_RXQASA.XPT
data/P_SLQ.XPT
data/P_SMQ.XPT
data/P_SMQFAM.XPT
data/P_SMQRTU.XPT
data/P_SMQSHS.XPT
data/P_TCHOL.XPT
data/P_TFR.XPT
data/P_TRIGLY.XPT
data/P_UAS.XPT
data/P_UCFLOW.XPT
data/P_UCM.XPT
data/P_UCPREG.XPT
data/P_UHG.XPT
data/P_UIO.XPT
data/P_UM.XPT
data/P_UNI.XPT
data/P_UTAS.XPT
data/P_UVOC.XPT
data/P_UVOC2.XPT
data/P_VOCWB.XPT
data/P_VTQ.XPT
data/P_WHQ.XPT
data/P_WHQMEC.XPT
data/RXQ_DRUG.xpt
/data
